{% extends 'base.html' %}
{% block head %}
<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Главная</a>
    </nav>
    </div>
{% endblock %}


{% block title %}
<title>Про магазин</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>О магазине</h1>
    <p>Это магазин проекта ServerExample. Здесь вы можете приобрести различные привилегии и услуги по выгодной цене</p>
</div>
{% endblock %}
